.error-panel {
    background-color: #eeefeb;

    display: grid;
    grid-template-areas:
        "message"
        "end-button";
    grid-template-rows: 1fr auto;
    row-gap: 2px;
    margin: 0;
    height: 100%;

    &--message {
        grid-area: message;
        margin: auto;
        padding: 8px;

        > span {
            display: table-cell;
            text-align: center;
            font-size: 2em;
            font-weight: normal;
            color: red;
        }
    }

    &--end-button {
        grid-area: end-button;
        margin: 8px;
    }
}
